name: Terraform Apply

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
    secrets:
      tf-api-token:
        required: true

env:
  TF_WORKSPACE: learn-terraform-${{ inputs.environment }}

jobs:
  terraform:
    name: Terraform Apply
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.1.0
          cli_config_credentials_token: ${{ secrets.tf-api-token }}

      - name: Terraform Format
        id: fmt
        run: terraform fmt -check

      - name: Terraform Init
        id: init
        run: terraform init

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color

      # - name: Terraform Apply
      #   run: terraform apply -auto-approve

      # TODO: replace this with apply
      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color
